<div class="container m-nav">
  <h1 class="h3 pt-3">Change Password</h1>

  <form
    [formGroup]="changePasswordForm"
    (ngSubmit)="changePasswordForm.valid && changePassword()"
    class="mt-4 col-md-4 changePasswordForm"
  >
    <div class="form-group mb-3">
      <label for="currentPassword">Current Password</label>
      <input
        [class.is-invalid]="
          changePasswordForm.get('currentPassword').errors &&
          changePasswordForm.get('currentPassword').touched
        "
        type="password"
        class="form-control"
        formControlName="currentPassword"
      />
      <div
        class="invalid-feedback"
        *ngIf="changePasswordForm.get('currentPassword').hasError('required')"
      >
        This field is required.
      </div>
      <div
        class="invalid-feedback"
        *ngIf="changePasswordForm.get('currentPassword').hasError('minlength')"
      >
        Password must be at least 6 characters, contain an uppercase letter, and
        a number.
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="newPassword">New Password</label>
      <input
        [class.is-invalid]="
          changePasswordForm.get('newPassword').errors &&
          changePasswordForm.get('newPassword').touched
        "
        type="password"
        class="form-control"
        formControlName="newPassword"
      />
      <div
        class="invalid-feedback"
        *ngIf="changePasswordForm.get('newPassword').hasError('required')"
      >
        This field is required.
      </div>
      <div
        class="invalid-feedback"
        *ngIf="changePasswordForm.get('newPassword').hasError('minlength')"
      >
        Password must be at least 6 characters, contain an uppercase letter, and
        a number.
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="confirmNewPassword">Confirm New Password</label>
      <input
        [class.is-invalid]="
          changePasswordForm.get('confirmNewPassword').errors &&
          changePasswordForm.get('confirmNewPassword').touched
        "
        type="password"
        class="form-control"
        formControlName="confirmNewPassword"
      />
      <div
        class="invalid-feedback"
        *ngIf="
          changePasswordForm.get('confirmNewPassword').hasError('required')
        "
      >
        Please confirm your password.
      </div>
      <div
        class="invalid-feedback"
        *ngIf="
          changePasswordForm.get('confirmNewPassword').hasError('isMatching')
        "
      >
        Your entered passwords don't match.
      </div>
    </div>

    <div *ngIf="validationErrors.length > 0">
      <ul class="text-danger">
        <li *ngFor="let error of validationErrors">
          {{ error }}
        </li>
      </ul>
    </div>

    <button
      [disabled]="!changePasswordForm.valid"
      class="btn btn-primary w-100 mt-3"
      type="submit"
    >
      Change Password
    </button>
  </form>
</div>
