*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: inherit;
}

body {
  font-size: 1rem;
  background-color: #fefefe;
}

/* custom utility classes */
.m-nav {
  margin-top: 66px;
}

/* bootstrap/bootswatch override */
.modal.show .modal-dialog {
  transform: translateY(100px);
}

/* 2023 update override some styles */
.btn-primary {
  background-color: #253544;
  border-color: #253544;
}
.btn-primary:hover {
  background-color: #2c3e50;
  border-color: #2c3e50;
}

.btn-warning {
  background-color: #f39c12;
  border-color: #f26418;
}
.btn-success {
  background-color: #18bc9c;
  border-color: #18bc9c;
}

@media only screen and (max-width: 550px) {
  body {
    font-size: 0.8rem;
  }

  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
