<div class="modal-header">
  <h4 class="modal-title pull-left">Delete Deck</h4>
  <button
    type="button"
    class="close pull-right closeBtn"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span class="timesSpan" aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  Are you sure you want to delete this deck and all of its cards?
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="deleteDeck(deckId)">
    Delete
  </button>
  <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">
    Cancel
  </button>
</div>
