<div class="container m-nav" *ngIf="deck">
  <div
    class="col-12 col-xl-6 pt-3 mx-auto d-flex flex-column studyUserInterface"
  >
    <div class="d-flex flex-column mb-2">
      <h2 class="h6">
        <a routerLink="/user/decks/{{ deck.id }}">{{ deck.name }}</a>
      </h2>
      <div class="d-flex justify-content-between">
        <button (click)="shuffleDeck()" class="shuffle-btn">
          Shuffle deck
        </button>
        <span>{{ counter + 1 }}/{{ deck.cards.length }}</span>
      </div>
    </div>

    <div class="card mb-3 my-card" *ngIf="deck && !finished">
      <div class="card-body">
        <p class="text-center w-100 whiteSpace cardText">
          {{
            shuffleMode
              ? shuffledDeck.cards[counter].front
              : deck.cards[counter].front
          }}
        </p>

        <div *ngIf="reveal">
          <hr />
          <p class="text-center w-100 whiteSpace cardText">
            {{
              shuffleMode
                ? shuffledDeck.cards[counter].back
                : deck.cards[counter].back
            }}
          </p>
        </div>
      </div>

      <div class="card-footer d-flex justify-content-center cardFooter">
        <button
          *ngIf="!reveal"
          type="button"
          class="btn btn-primary btn-lg"
          (click)="toggleReveal()"
        >
          Show Answer
        </button>
        <button
          type="button"
          class="btn btn-info btn-lg"
          *ngIf="reveal"
          (click)="next()"
        >
          Next
        </button>
      </div>
    </div>

    <div class="card mb-3 my-card deckCompleteCard" *ngIf="deck && finished">
      <h3>Deck Complete</h3>

      <button class="btn btn-success mt-2" (click)="restartDeck()">
        Restart Deck
      </button>
    </div>
  </div>
  <div class="col-12 col-xl-6 mx-auto goToCardWrapper">
    <form
      [formGroup]="goToCardForm"
      class="d-flex flex-column goToForm"
      (submit)="goToCardForm.valid && goToCardHandler()"
    >
      <div>
        <label for="cardNumber">Go to card</label>
        <input
          class="goToCardInput"
          name="cardNumber"
          type="number"
          formControlName="cardNumber"
        />
      </div>
    </form>
  </div>
</div>
