<div class="modal-header">
  <h4 class="modal-title pull-left">Edit Deck Name</h4>
  <button
    type="button"
    class="close pull-right closeBtn"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span class="timesSpan" aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #createDeckForm>
    <label for="name">Name</label>
    <input type="text" [(ngModel)]="name" name="name" class="form-control" />
  </form>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-primary"
    (click)="editDeckName(name, deckId)"
  >
    Save
  </button>
  <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">
    Cancel
  </button>
</div>
