<div class="col-lg-4 col-md-6 m-nav mx-auto loginWrapper">
  <h1 class="text-center pt-3 pt-lg-5 h3">Login</h1>

  <form
    [formGroup]="loginForm"
    (ngSubmit)="loginForm.valid && login()"
    class="mb-3"
  >
    <div class="form-group mb-3">
      <label for="email">Email</label>
      <input
        [class.is-invalid]="
          loginForm.get('email').errors && loginForm.get('email').touched
        "
        class="form-control mr-sm-2"
        type="text"
        name="email"
        formControlName="email"
      />
      <div *ngIf="errors.email" class="text-danger invalidFeedback">
        This email address is not registered.
      </div>
      <div
        class="invalid-feedback"
        *ngIf="loginForm.get('email').hasError('required')"
      >
        Please enter an email.
      </div>
      <div
        class="invalid-feedback"
        *ngIf="loginForm.get('email').hasError('minlength')"
      >
        Requires at least 3 characters.
      </div>
      <div
        class="invalid-feedback"
        *ngIf="loginForm.get('email').hasError('maxlength')"
      >
        Has a max length of 40 characters.
      </div>
      <div
        class="invalid-feedback"
        *ngIf="loginForm.get('email').hasError('email')"
      >
        Please enter a valid email address.
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="password">Password</label>
      <input
        [class.is-invalid]="
          loginForm.get('password').errors && loginForm.get('password').touched
        "
        class="form-control mr-sm-2"
        type="password"
        name="password"
        formControlName="password"
      />
      <div *ngIf="errors.password" class="text-danger invalidFeedback">
        Invalid password. *Reminder: passwords require a number, uppercase
        letter, and at least 6 characters.
      </div>
      <div
        class="invalid-feedback"
        *ngIf="loginForm.get('password').hasError('required')"
      >
        Please enter your password.
      </div>
      <div
        class="invalid-feedback"
        *ngIf="
          loginForm.get('password').hasError('minlength') && !errors.password
        "
      >
        Password must be at least 6 characters, contain an uppercase letter, and
        a number.
      </div>
    </div>

    <div *ngIf="validationErrors.length > 0">
      <ul class="text-danger">
        <li *ngFor="let error of validationErrors">
          {{ error }}
        </li>
      </ul>
    </div>

    <div *ngIf="errors.confirmEmail">
      <div class="text-danger">Confirm your email address to login.</div>
      <div>
        Need a verification email?
        <a routerLink="/login/verification-email">Click here.</a>
      </div>
    </div>

    <button
      class="btn btn-primary mt-3 w-100"
      type="submit"
      [disabled]="!loginForm.valid"
    >
      Login
    </button>
  </form>
  <a routerLink="/login/forgot-password" class="forgotPasswordLink"
    >Forgot password?</a
  >
</div>
