.loginWrapper {
  max-width: 25rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.forgotPasswordLink {
  color: var(--color-primary);
}

.invalidFeedback {
  font-size: 0.875em;
  margin-top: 0.25rem;
}
