.anchorStyleBtn {
  background-color: transparent;
  border: none;
  height: min-content;
  color: #18bc9c;
  text-decoration: underline;
}

.anchorStyleBtn:hover {
  color: #14a085;
}

.anchorStyleBtnDanger {
  background-color: transparent;
  border: none;
  height: min-content;
  color: #e74c3c;
  text-decoration: underline;
}

.anchorStyleBtnDanger:hover {
  color: #c44133;
}
